body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  color: purple;
  font-size: 1.4rem;
}

.input {
  padding: 1rem 8rem;
  background-color: rgb(222, 222, 222);
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 6px;
  text-align: center;
  margin-top: 2rem;
  box-shadow: 0rem .3rem .5rem 0rem rgb(110, 160, 160);
  border: 1px solid black;
}

.ui-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h2{
  margin: 0 1rem;
  font-size: 1.6rem;
  font-weight:400;
  color:black;
  cursor: default;
}
.active {
  color:rgb(13, 137, 13);
  text-decoration: line-through;
}
.remove-btn{
  color:red;
  font-weight:500;
  cursor:default;
}