body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  color: purple;
  font-size: 1.4rem;
}

.input {
  padding: 1rem 8rem;
  background-color: rgb(222, 222, 222);
  color: rgb(19, 8, 228);
  font-size: 1.4rem;
  border-radius: 6px;
  text-align: center;
}

.ui-content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h2{
  margin: 0 1rem;
  font-size: 1.6rem;
  font-weight:500;
  color:black;
}
.active {
  color: yellow;
}
.remove-btn{
  color:red;
  font-weight:600;
}